system:
  loglevel: INFO

trading:
  symbol: ETHUSDT
  interval: 15m
  historylimit: 10

binance:
  apikey: xxx
  apisecret: xxx

slack:
  webhook: https://hooks.slack.com/services/xxxx
  channel: "#xxxx"