system:
  loglevel: INFO

trading:
  symbol: ETHUSDT
  interval: 15m

  mode: backtesting
  indicator:
    startFromKlines: 50
  backtesting:
    download:
      enable: false
      startTime: 1500000000000
      limitPerDownload: 1500

binance:
  apikey: xxx
  apisecret: xxx

slack:
  webhook: https://hooks.slack.com/services/xxxx
  channel: "#xxxx"